.formulario {
    margin: 70px;
    padding: 70px;
    background-color: none;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .fondoFormulario {
    background-image: url(./img/fondos/SETUPgAMERP-scaled.jpg);
  }
  