.headerindex {
  position: fixed;
  z-index: 1111;
}
.nav-index {
  padding: 25px !important;
}
.main {
  background-color: #bed5cd;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 0.9fr 1.2fr 0.9fr;
  grid-template-rows: 0.5fr 1.4fr 1.1fr;
  gap: 0px 1px;
  grid-template-areas:
    "paralax paralax paralax"
    "quienes_somos quienes_somos quienes_somos"
    "marca1 marca1 marca1";
}
.quienes_somos {
  grid-area: quienes_somos;
  margin: 2%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}
.logoindex {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}
.logoindex img {
  width: 20%;
  height: 20%;
  margin-top: 1%;
}
.content {
  grid-area: paralax;
}
.parallax {
  margin: 0 auto;
}

.texto-index {
  text-align: left;
}
.lista-marcas {
  margin-top: 0;
}
.primer-texto {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  height: 300px;
  width: 100%;
  background-color: #183d3d;
  color: white;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 10px;
  box-shadow: black;
  padding-left: 5%;
  padding-right: 5%;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  max-width: 100%;
  position: relative;
  margin-top: 4%;
}

.texto-interior {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  left: 10%;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 80%;
  background-position: center;
}

.img-uno {
  background-image: url(../pages/img/imagenes_index/fortnite.jpg);
}
.marca1 {
  grid-area: marca1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  margin-bottom: 0;
}
.card-marca {
  margin: 20px;
  margin-top: 0;
}
.card-marca img {
  padding: 0;
  margin: 0;
}
.card-img-top {
  display: flex;
  align-items: center;
}
.linkindex {
  text-align: center;
}
