.fondoPerifericos {
  background-color: #5c8374;
}
.main-perifericos {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: auto;
  margin-top: 3%;
}

.mouse,
.teclado,
.microfono,
.auricular {
  background-color: #93b1a6;
  margin: auto;
}
.mouse {
  margin: 0 !important;
}
